{% extends 'base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block body %}
    <h1>h34dl355_h0r53m4n</h1>
    <p>На восточном берегу Гудзона, в глубине одной из бухт, стоит деревня, невдалеке от неё есть лощина,
        которую за её тишину и безмятежность, а также за флегматичный нрав её обитателей прозвали Сонной.
        Место это словно пребывает под каким-то заклятием, заворожившим умы местных жителей, которые живут
        в мире грёз наяву. Вся округа изобилует сказаниями, «нечистыми местами», суевериями. Главный дух,
        посещающий этот зачарованный уголок, — Всадник без головы. Говорят, что это тень гессенского кавалериста,
        которому в сражении оторвало голову пушечным ядром; тело его похоронено внутри церковной ограды,
        а дух рыщет по ночам в поисках оторванной головы.
    </p>
    <h5>Вам может помочь: REST, Burp, postman.</h5>
{% endblock %}
