{% extends 'base.html' %}

{% block title %}
    Главнвя
{% endblock %}

{% block body %}
    <h1> Главная страница </h1>
    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                                <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                                    <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                                        <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
                                                                                            <h4> Для того чтобы перейти к чату - вам необходимо зарегистрироваться или войти<h4>
{% endblock %}