{% extends 'base.html' %}

{% block title %}
    Главнвя
{% endblock %}

{% block body %}
    <h1> Main page </h1>
    <!-- mgnh1lls{h3ll0_w07ld_w1d3_w3b} -->
    <div class="main-page-container">
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/lactf.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>LaCTF</h2>
                <p>Наша первая CTF. Мы прекрасно сработались в решении заданий, делились идеями, обсуждали подходы к решению и помогали друг другу в случае затруднений. Каждый из участников команды внес свой вклад, что позволило нам эффективно справляться с разнообразными тасками.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/breaker.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Breaker CTF</h2>
                <p>Наша главная ошибка была прийти сюда. Главный факап года.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/dc_breaker.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Дискорд Breaker CTF</h2>
                <p>Всем настолько понравилось соревнование, что все его участники дружненько играли в гартик-фон.</p>
            </div>
        </div>

        <div class="content-container">
            <div class="image-container">
                <img src="static/img/bios.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>b1os CTF</h2>
                <p>Наша гордость. Здесь мы проявили всю нашу усидчивость, и заполучили самые яркие воспоминания, а также друга-индуса.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/qr.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>QR</h2>
                <p>Единственное решенное задание на b1os. Мы решали его методом умолишенных, потратили на него около 7 часов.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/brelock.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Брелок</h2>
                <p>Чтобы запомнить этот артхаус на всю нашу проклятую жизнь, каждому члену команды был дарован трофейный брелок.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/ls.png" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Respect from ls</h2>
                <p>Организатор b1os CTF проникся нашим упорством, и выразил нам письменную благодарность.</p>
            </div>
        </div>

        <div class="content-container">
            <div class="image-container">
                <img src="static/img/osu.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>OSU CTF</h2>
                <p>После данного мероприятия у одного из членов команды началась неподдельная нешуточная зависимость. Последствия вы видите ниже.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/dog_babka.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Павел аниме бабка</h2>
                <p>Чрезмерная и неконтроллируемая игра в OSU довели Пашку до непозволительного состояния.</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/volga.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Volga CTF</h2>
                <p>Это соревнование сподвигло нас на рефлексию нашего пути. Мы приняли решение отойти от CTF игрулек, и перейти к более серьезным вещам, таким как STANDOFF365 и HTB.</p>
            </div>
        </div>

        <div class="content-container">
            <div class="image-container">
                <img src="static/img/54.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Максимальный рейтинг</h2>
                <p>Перед своим уходом из CTF наш максимум достигал 54 позиции в рейтинг</p>
            </div>
        </div>

        <div class="content-container">
            <div class="image-container">
                <img src="static/img/kiber.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Кибер Восток</h2>
                <p>Конкретно наложили, но в первый раз простительно</p>
            </div>
        </div>
        <div class="content-container">
            <div class="image-container">
                <img src="static/img/ivko.jpg" alt="Изображение">
            </div>
            <div class="text-container">
                <h2>Сертификаты</h2>
                <p>Из положительного, нам дали за наш позор сертификаты.</p>
            </div>
        </div>
    </div>
{% endblock %}