{% extends 'base.html' %}

{% block title %}
    Главнвя
{% endblock %}

{% block body %}
    <h1> Main page </h1>
    <!-- mgnh1lls{h3ll0_w07ld_w1d3_w3b} -->
    <div class="main-page-container">
	<div class="main-page-container">

      <div class="card-group main-page-card-group">

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/lactf.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">La CTF 2024</h5>
            <p class="card-text">Наша первая CTF. Мы прекрасно сработались в решении заданий, делились идеями, обсуждали подходы к решению и помогали друг другу в случае затруднений. Каждый из участников команды внес свой вклад, что позволило нам эффективно справляться с разнообразными тасками.</p>
            <p class="card-text"><small class="text-muted">17.09.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/breaker.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Breaker CTF</h5>
            <p class="card-text">Главный факап года. Данное состязание научило нас, что не каждый CTF заслуживает внимания.</p>
            <p class="card-text"><small class="text-muted">23.02.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/dc_breaker.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Breaker CTF Gartic Phone</h5>
            <p class="card-text">Всем настолько понравилось соревнование, что все его участники дружненько играли в гартик-фон.</p>
            <p class="card-text"><small class="text-muted">23.02.2024</small></p>
          </div>
        </div>
      </div>

      <div class="card-group main-page-card-group">

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/bios.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">b1os CTF</h5>
            <p class="card-text">Наша гордость. Здесь мы проявили всю нашу усидчивость, и заполучили самые яркие воспоминания, а также друга-индуса.</p>
            <p class="card-text"><small class="text-muted">24.02.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/qr.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">QR-code</h5>
            <p class="card-text">Единственное решенное задание на b1os. Мы решали его методом умолишенных, потратили на него около 7 часов.</p>
            <p class="card-text"><small class="text-muted">24.02.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/brelock.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Трофей b1os</h5>
            <p class="card-text">Чтобы запомнить этот артхаус на всю нашу проклятую жизнь, каждому члену команды был дарован трофейный брелок.</p>
            <p class="card-text"><small class="text-muted">24.02.2024</small></p>
          </div>
        </div>
      </div>

      <div class="card-group main-page-card-group">

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/ls.png" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Respect from ls</h5>
            <p class="card-text">Организатор b1os CTF проникся нашим упорством, и выразил нам письменную благодарность.</p>
            <p class="card-text"><small class="text-muted">24.02.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/osu.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">OSU CTF</h5>
            <p class="card-text">После данного мероприятия у одного из членов команды началась неподдельная нешуточная зависимость. Последствия вы видите далее.</p>
            <p class="card-text"><small class="text-muted">01.03.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/dog_babka.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">proglikedog аниме-бабка</h5>
            <p class="card-text">Чрезмерная и неконтроллируемая игра в OSU довели Пашку до непозволительного состояния.</p>
            <p class="card-text"><small class="text-muted">01.03.2024 - ∞ </small></p>
          </div>
        </div>
      </div>

      <div class="card-group main-page-card-group">

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/volga.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Volga CTF</h5>
            <p class="card-text">Это соревнование сподвигло нас на рефлексию нашего пути. Мы приняли решение отойти от CTF игрулек, и перейти к более серьезным вещам, таким как STANDOFF365 и HTB.</p>
            <p class="card-text"><small class="text-muted">30.03.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/54.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Максимальный рейтинг</h5>
            <p class="card-text">Перед своим уходом из CTF наш максимум достиг 54 позиции в рейтинге</p>
            <p class="card-text"><small class="text-muted">12.03.2024</small></p>
          </div>
        </div>

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/kiber.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Кибер Восток</h5>
            <p class="card-text">Наше первое соревнование в таком формате. Основной вектор был верен, но упустили некоторые важные моменты.</p>
            <p class="card-text"><small class="text-muted">25.04.2024 - ∞ </small></p>
          </div>
        </div>
      </div>

      <div class="card-group main-page-card-group">

        <div class="card main-page-card">
          <img class="card-img-top main-page-image-card" src="static/img/ivko.jpg" alt="Card image cap">
          <div class="card-body main-page-card-body">
            <h5 class="card-title">Сертификаты Кибер Восток</h5>
            <p class="card-text">За участие нам были вручены стилевые сертификаты.</p>
            <p class="card-text"><small class="text-muted">30.03.2024</small></p>
          </div>
        </div>




      </div>

    </div>
    </div>
{% endblock %}
.content-container {
    display: flex;
    padding: 10px; /* Добавляем отступ вокруг контента /
    border: 1px solid black; / Добавляем черную рамку /
    margin-bottom: 20px;
}

.image-container {
    flex: 0 0 30%; / Ширина контейнера с изображением /

}

.text-container {

    flex: 1; / Оставшееся пространство для контейнера с текстом /
    padding: 0 20px; / Дополнительный отступ для разделения текста от изображения */
}
