{% extends 'base.html' %}

{% block title %}
    Первое
{% endblock %}

{% block body %}
    <div class="h1-container">
        <h1 class="left-label"> {{username}} </h1>
        <h1 class="right-label"> Point: {{ sum_points }} </h1>
    </div>
    <div class="my_account_container">
        <div class="change-password-container">
            <form method="POST" action="/change_password">
                <h5>Change password</h5> <p></p>
                <label for="old_password">Old password:</label><br>
                <input type="password" id="old_password" name="old_password"><br><br>

                <label for="new_password">New password:</label><br>
                <input type="password" id="new_password" name="new_password"><br><br>

                <label for="confirm_password">Confirm password:</label><br>
                <input type="password" id="confirm_password" name="confirm_password"><br><br>

                <input type="submit" value="Change password">
            </form>
        </div>

        <div class="statistic-container">
            <h5>Statistic</h5>
               {% for username, score in statistics %}
                  <div class="label-container">
                     <label class="left-label">{{ username }}</label>
                     <label class="right-label">{{ score }}</label>
                  </div>
               {% endfor %}
        </div>
    </div>
{% endblock %}
