{% extends 'base.html' %}

{% block title %}
    Второе
{% endblock %}

{% block body %}
    <h1> Second task </h1>
    <form method="post" action="show_server_config">
        <select name="option">
            <option value="in">Incoming Server</option>
            <option value="out">Outcoming Server</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    {% if elements %}
        <ul>
            {% for element in elements %}
                <li>{{ element }}</li>
            {% endfor %}
        </ul>
    {% endif %}



{% endblock %}